@using WebServices.Models
@*@model IEnumerable<Reservation>*@

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script>
        var model = {
            reservations: ko.observableArray(),
            editor: {
                name: ko.observable(""),
                location: ko.observable("")
            },
            displaySummary: ko.observable(true)
        };

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax("/api/web" + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: reqData
            });
        }

        function handleEditorClick() {
            sendAjaxRequest("POST", function (newItem) {
                model.reservations.push(newItem);
                model.displaySummary(true);
            }, null, {
                ClientName: model.editor.name,
                Location: model.editor.location
            });
        }

        function getAllItems() {
            sendAjaxRequest("GET", function (data) {
                model.reservations.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.reservations.push(data[i]);
                }
            });
        }

        function handleCreateClick() {
            model.displaySummary(false)
        }

        function removeItem(item) {
            sendAjaxRequest("DELETE", function () {
                //getAllItems();
                for (var i = 0; i < model.reservations().length; i++) {
                    if (model.reservations()[i].ReservationId == item.ReservationId) {
                        model.reservations.remove(model.reservations()[i]);
                        break;
                    }
                }
            }, item.ReservationId);
        }

        $(document).ready(function () {
            getAllItems();
            ko.applyBindings(model);
        });
    </script>
}

<div class="row">
    <div class="col-12">
        <div id="summary" class="section panel panel-primary" data-bind="if: model.displaySummary">
            @*@Html.Partial("Summary", Model)*@
            <div class="panel-heading">Reservation Summary</div>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: model.reservations">
                        <tr>
                            <td data-bind="text: ReservationId"></td>
                            <td data-bind="text: ClientName"></td>
                            <td data-bind="text: Location"></td>
                            <td>
                                <button class="btn btn-xs btn-primary" data-bind="click: removeItem">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" data-bind="click: handleCreateClick">Create a Reservation</button>
        </div>
    </div>
    <div class="col-12">
        <div id="editor" class="section panel panel-primary" data-bind="ifnot: model.displaySummary">
            @*@Html.Partial("Editor", new Reservation())*@
            <div class="panel-heading">Create Reservation</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Client Name</label>
                    <input type="text" data-bind="value: model.editor.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" data-bind="value: model.editor.location" class="form-control" />
                </div>
                <button class="btn btn-primary" data-bind="click: handleEditorClick">Save</button>
            </div>
        </div>
    </div>
</div>