@using HelperMethods.Models
@model IEnumerable<PartialPerson>

@foreach(PartialPerson p in Model)
{
    <tr>
        <td>@p.FirstName</td>
        <td>@p.LastName</td>
        <td>@p.Role</td>
    </tr>
}

